html {
  font-size: 16px;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2 {
  margin: 0;
}

h1 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  margin-top: 0.5em;
  margin-bottom: 1rem;
  text-align: center;
}

/* estilos de las tablas */
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1em;
    font-family: Arial, sans-serif;
    border: 2px solid black;
    box-shadow: 5px 5px 20px rgb(0, 0, 0)
  }
  
  th, td {
    padding: 0.5em;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: black;
    color: #FCB900;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  

label {
  display: block;
  margin-top: 0.5rem;
}

input[type="text"], input[type="number"], select, input[type="date"], input[type="time"], input[type="button"] {
  font-family: inherit;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}

input[type="button"] {
  cursor: pointer;
  color: #FCB900;
  background-color: black;
}

input[type="button"]:hover{
    cursor: pointer;
    color: black;
    background-color: #FCB900;
    font-style: bold;
}


/* Estilos específicos de la página */

#TablaReservas {
  font-weight: bold;
  margin-top: 1rem;
}

#reservas, #acciones1, #acciones2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2rem;
    background-color: white;
    margin: 1em;
}

#acciones1 > div, #acciones2 > div {
    margin-right: 2rem;
}

#Especificas, #Globales, #anadir, #modificar {
  width: 300px;
  border-radius: 0.5rem;
  border: 1px solid #d1bdbd;
  padding: 1rem;
  box-shadow: 5px 5px 20px rgb(0, 0, 0)
}

#Especificas input[type="button"], #Globales input[type="button"], #anadir input[type="button"], #modificar input[type="button"] {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0;
  width: 100%;
}